.tituloPrincipal{
text-align: center;

}
.letras{
padding-top:15px;
padding:10px;
}
.textos{
color: #939393;
text-align: center;
font-size: 18px;

}
.titulos{
text-align:center   ;
font-size: 20px;

}


.Imagens{
display:block;
margin-left: 90px;
height:43px;
width:43px;
}

label{
margin-left:250px;

}


.Produtos{
display: flex;
padding: 10px;
margin-left: 350px;


}
.Quadros{
height: 274px;
max-width:235px;
padding: 10px;

}

