.titulo{
    text-align: center;
    font-size: 40px;
    font-family: monospace;
}

label{
 border: 1px solid;
 float: left;
 margin-left: 30px;
 margin-top: 20px;
 padding-bottom: 20px;
 height: 700px;
 max-width: 580px;
 text-align: center;
}
.caract{
font-size: 20px;
}
.titulopl{
text-align: left;
}

.PlanoEssential{
margin-left: 15px;
font-size: 30px;
}

.PlanoPlus{
margin-left: 15px;
font-size: 30px;
}

.PlanoPremium{
margin-left: 15px;
font-size : 30px;
}

img{
width: 580px;
height: 270px;

}
