.titulo{
    text-align: center;
    font-size: 40px;
    font-family: monospace;
}

label{
 border: 1px solid;
 float: left;
 margin-left: 30px;
 margin-top: 20px;
 padding-bottom: 20px;
 height: 700px;
 max-width: 580px;
 text-align: center;
}

.textos{
margin-left: 20px;
text-align: left;
font-size: 20px;
margin-top: 80px;
color: gray;
}

.Inscricao{
 color: white;
font-family: Roboto;
font-size: 16px;
margin-right:320px;
margin-top: 130px;
width: 200px;
background-color: gray;
border: none;
padding: 10px;
}

.Inscricao2{
 color: white;
font-family: Roboto;
font-size: 16px;
margin-right:320px;
margin-top: 80px;
width: 200px;
background-color: gray;
border: none;
padding: 10px;
}

.titulos{
text-align: left;
}

.Planos{
margin-left: 15px;
font-size: 30px;
}

img{
width: 580px;
height: 270px;

}
